.Synesthesia_UILibrary_DragValue {
  display: inline-block;
  margin: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0)), to(rgba(128, 128, 128, 0.1)));
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2px;

  -webkit-transition: border-color ease-in-out 0.1s;
}
.Synesthesia_UILibrary_DragValue:hover {
  border-color: rgba(0, 0, 0, 0.6);
}
  .Synesthesia_UILibrary_DragValue input {
    outline: none;
    background-color: transparent;
  }

.Synesthesia_UILibrary_RadioGroup {
  display: inline-block;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  overflow: hidden;
  white-space: nowrap;

  margin: 1px;
  border: 1px solid #808080;
  border-radius: 2px;
}
  .Synesthesia_UILibrary_RadioGroup .radio_option {
    display: inline-block;
    -webkit-flex: 1 0 0;
    -moz-flex: 1 0 0;

    text-align: center;

    background-color: #d0d0d0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));

    padding: 3px;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #808080;
  }
  .Synesthesia_UILibrary_RadioGroup .radio_option:hover {
    background-color: #b0b0b0;
  }
  .Synesthesia_UILibrary_RadioGroup .radio_option:active,
  .Synesthesia_UILibrary_RadioGroup .radio_option.selected {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7)));
  }
  .Synesthesia_UILibrary_RadioGroup .radio_option.selected {
    background-color: #b8b8b8;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  }
  .Synesthesia_UILibrary_RadioGroup .radio_option.selected:hover {
    background-color: #a0a0a0;
  }
  .Synesthesia_UILibrary_RadioGroup .radio_option:last-of-type {
    border-right-width: 0px;
  }

.Synesthesia_UILibrary_LabeledDiv {
  overflow: hidden;
  margin: 1px;
  border: 1px solid #b0b0b0;
  border-radius: 2px;
}
  .Synesthesia_UILibrary_LabeledDiv > .label {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(128, 128, 128, 0.2)));
    margin: -1px -1px 1px -1px;
    border-bottom: 1px solid #b0b0b0;
    padding: 3px;
  }

/* Menu */

.Synesthesia_UILibrary_Menu.bar {
  color: #606060;
  overflow: hidden;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
}
  .Synesthesia_UILibrary_Menu.bar > .item {
    display: inline-block;
    padding: 3px 8px;
    border-right: 1px solid #d0d0d0;
    font-weight: lighter;
  }
  .Synesthesia_UILibrary_Menu.bar > .item:first-of-type {
    border-left: 1px solid #d0d0d0;
  }
  .Synesthesia_UILibrary_Menu.bar > .item.open {
    background-color: #d0d0d0;
  }

.Synesthesia_UILibrary_Menu.dropdown {
  color: #606060;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -1px;
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px 2px 2px 2px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
  .Synesthesia_UILibrary_Menu.dropdown > .item {
    color: #606060;
    background-color: #f0f0f0;
    padding: 3px 8px;
  }
  .Synesthesia_UILibrary_Menu.dropdown > .item:hover {
    background-color: #d0d0d0;
  }
  .Synesthesia_UILibrary_Menu.dropdown > .item:active {
    background-color: #c0c0c0;
  }
