body {
  -webkit-user-select: none;
  background-color: #f8f8f8;
}

body, input {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: default;
}

table, tbody, tr, td {
  font-size: 1em;
  margin: 0px;
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
}

td {
  position: relative;
}
